.cart__container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.cart__items {
    min-width: 830px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}
.cart__header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    line-height: 56px;
    padding: 0px 10px;
    font-weight: 500;
    border-bottom: 1px solid rgb(221, 221, 221);
    height: 56px;
}
.cart__header > p{
    padding: 0 15px;
}
.cart__address {
    display: flex;
    align-items: center;
    font-size: 14px;
    
}
.cart__address > img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}
.cart__address > div {
    display: flex;
    align-items: center;
    padding: 0 12px;
    margin-left: 10px;
    height: 46px;
    border: 1px solid rgb(218, 218, 218);
}

.cart__item {
    display: flex;
    padding: 24px;
}

.cart__itemImage {
    height: 112px; 
    width: 112px;
    display: flex;
    justify-content: center;
}
.cart__itemImage > img {
    height: 100%; 
    width: auto;
}
.cart__textContents {
    padding: 0 24px 12px;
    overflow: hidden;
    max-width: 460px;
}

.cart__itemName {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
}
.itemPrice {
    display: flex;
    align-items: flex-end;
}
.product__discountedPrice {
    font-size: 18px;
    font-weight: 500;
    margin: 18px 8px 0 0;
}

.product__actualPrice {
    text-decoration: line-through;
    font-size: 14px;
    color: #878787;
    font-weight: 400;
    margin: 18px 8px 3px 0;
}
.product__discount {
    margin: 18px 8px 3px 0;
    font-size: 14px;
    font-weight: 500;
    color: #388e3c;
    letter-spacing: -.2px;
    font-weight: 500;
}
.item__remove{
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    outline: 0;
    margin-top: 10px;
}
.cart__footer{
    border-top: 1px solid #f0f0f0;
    background: #fff;
    padding: 16px 22px;
    box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 10%);
    display: flex;
    justify-content: flex-end;
}

.cart__footer > button{
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    border: none;
    color: #fff;
    padding: 16px 30px;
    min-width: 250px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 500;
}

.cart__priceSection {
    margin-left: 16px;
    width: 400px;
    background-color: #fff;
    border-radius: 2px;
    min-height: 47px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
}
.priceDetails {
    padding: 13px 24px;
    min-height: 47px;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid #f0f0f0;
    font-size: 16px;
    font-weight: 500;
    color: #878787;
}
.allPrices {
    padding: 0 24px;
}
.price__row {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.totalamount {
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
}